<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         metadata-complete="false"
         version="3.1">
    <servlet>
        <servlet-name>DataInformationServlet</servlet-name>
        <servlet-class>main.servlet.DataInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataInformationServlet</servlet-name>
        <url-pattern>/data/information</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TagSearchServlet</servlet-name>
        <servlet-class>main.servlet.TagSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TagSearchServlet</servlet-name>
        <url-pattern>/tag/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserInformationServlet</servlet-name>
        <servlet-class>main.servlet.UserInformationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInformationServlet</servlet-name>
        <url-pattern>/user/Information</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>main.servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddHistoryServlet</servlet-name>
        <servlet-class>main.servlet.AddHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddHistoryServlet</servlet-name>
        <url-pattern>/history/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <servlet-class>main.servlet.DeleteHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <url-pattern>/history/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LikeChangeServlet</servlet-name>
        <servlet-class>main.servlet.LikeChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LikeChangeServlet</servlet-name>
        <url-pattern>/like/change</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchByInfoServlet</servlet-name>
        <servlet-class>main.servlet.SearchByInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByInfoServlet</servlet-name>
        <url-pattern>/homepage/search_info</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SearchByDateServlet</servlet-name>
        <servlet-class>main.servlet.SearchByDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByDateServlet</servlet-name>
        <url-pattern>/homepage/data</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DataModifyServlet</servlet-name>
        <servlet-class>main.servlet.DataModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataModifyServlet</servlet-name>
        <url-pattern>/data/modify</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserCollectionServlet</servlet-name>
        <servlet-class>main.servlet.UserCollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCollectionServlet</servlet-name>
        <url-pattern>/homepage/usercollection</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>main.servlet.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/user/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserregisterServlet</servlet-name>
        <servlet-class>main.servlet.UserregisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserregisterServlet</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DataVisualization</servlet-name>
        <servlet-class>main.servlet.WordCloudVisualization</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataVisualization</servlet-name>
        <url-pattern>/data/word_cloud</url-pattern>
    </servlet-mapping>


    <!--[=[====================================-->

    <servlet>
        <servlet-name>UserActionServlet</servlet-name>
        <servlet-class>main.servlet.UserActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserActionServlet</servlet-name>
        <url-pattern>/user/action</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UserInfo</servlet-name>
        <servlet-class>main.servlet.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfo</servlet-name>
        <url-pattern>/user/info</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>main.servlet.DataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/get/data</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DataOffset</servlet-name>
        <servlet-class>main.servlet.getDataOffsetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DataOffset</servlet-name>
        <url-pattern>/get/data/offset</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchByTag</servlet-name>
        <servlet-class>main.servlet.SearchByTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByTag</servlet-name>
        <url-pattern>/search/tag</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>apt_get</servlet-name>
        <servlet-class>main.servlet.AptGetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>apt_get</servlet-name>
        <url-pattern>/get/apt</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>manager_tag</servlet-name>
        <servlet-class>main.servlet.managertagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>manager_tag</servlet-name>
        <url-pattern>/manager/tag</url-pattern>
    </servlet-mapping>

</web-app>

